<!DOCTYPE html>
html(lang="en")
    head
        header
            h3 Brittany's Portfolio
            a(href="www.linkedin.com/in/brittany-samuels") Connect through Linked in
            block content