doctype html
html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-GKugkVcT8wqoh3M8z1lqHbU+g6j498/ZT/zuXbepz7Dc09/otQZxTimkEMTkRWHP", crossorigin="anonymous")
    title About Me
  body
  div
    p Brittany Samuels is a 23 year old Computer Programmer Student at Georgian College Barrie

    p more info about my services 

    a(href="/Services") Services
    img(src="../me.jpg" alt="Brittany")
    include partials/header
    include partials/footer
    include layout