extends layout

block content
    from(method='POST' action='send')
      div
        h2 Name
        input(type='text' name='name')
      div
        h2 Email
        input(type='text' name='email')
      div
        h2 Description
        input(type='text' name='description')
      div
        h2 Phone Number
        input(type='text' name='phone')
      div
        button(type='Submit' value='Submit') Submit
    include partials/header
    include partials/footer
    include layout