doctype html
html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-GKugkVcT8wqoh3M8z1lqHbU+g6j498/ZT/zuXbepz7Dc09/otQZxTimkEMTkRWHP", crossorigin="anonymous")
    title= about
  body
     h4 Most of my work can be found on my github page
     a(class="proj-link" href="https://github.com/Unknownlurkr") Git Hub
     h4 web-devolpment (An example) 
     a(class="proj-link" href="https://www.gammasales.com/item/4-704076/JOE-ROCKET-RKT-4-HALF-HELMET/") Co-op
     include partials/header
     include partials/footer
     include layout