body {
    padding: 10px 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center; /*algined contents within the body in the center of the page*/
}

a {
    color: #00B7FF;
    text-align: center;
    padding: 10px 20px;
}

/*basic css that will impact all of the listed tags below
    just padding and text-align to teh center
    (bad css code would not use this css for my portfolio in real life just to get the job done)
*/
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

div{
    text-align: center;
    padding: 10px 20px;
}

header {
    text-align: center;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 10px 20px;
}

h4 {
    text-align: center;
    padding: 10px 20px;
}

.proj-link{
    align-content: center;
    padding: 50px 50px;
}